<!DOCTYPE html>
<html>
{include '../../templates/head.latte'}
	<body>
			{include '../../templates/flashMessage.latte'}

			<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
						aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="#">Navbar</a>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link text-white" href="#">Domů <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="#">FAQ</a>
						</li>
					</ul>
					<div class="d-flex">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link text-white" n:href="Login!">Přihlášení</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" n:href="Registration!">Registrace</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			{include content}

			{include '../../templates/footer.latte'}


				<!-- modals -->
			{if isset($loginForm)}
				{control formLoginControl}
			{/if}
			{if isset($registrationForm)}
				{control formRegistrationControl}
			{/if}
				{block scripts}
				{if isset($forgetPasswdForm)}
					{control formForgetPasswd}
				{/if}
				{include '../../templates/scripts.latte'}
			{/block}
	</body>
</html>
