application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\model\UserManager
	userModel:
	    class: App\model\UserModel
	userClass:
	    class: App\model\userClass
	competitor:
	    class: App\model\Competitor
	competitorModel:
	    class: App\model\CompetitorModel
	comp:
	    class: App\model\Comp
	compModel:
	    class: App\model\CompModel
	category:
	    class: App\model\Category
	categoryModel:
	    class: App\model\CategoryModel
	compcat:
	    class: App\model\Compcat
	compcatModel:
	    class: App\model\CompcatModel
	prereg:
	    class: App\model\Prereg
	preregModel:
	    class: App\model\PreregModel

search:
    model:
        in: %appDir%\model

