
{varType App\model\Category $category}

{var $comp = $category->getComp()}

{if $comp->isBoulderComp()}
    {include 'resultType\boulder.latte'}
{/if}
{if $comp->isLeadComp()}
    {include 'resultType\lead.latte'}
    {if $category->getResult(App\model\ResultModel::LEAD_FI)}
        {include 'resultType\leadFinal.latte'}
    {/if}
{/if}
{if $comp->isSpeedComp()}
    {include 'resultType\speed.latte'}
{/if}



