<script src="{$basePath}/promo/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{$basePath}/promo/bootstrap/js/bootstrap.min.js"></script>
<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
<script src="{$basePath}/naja/Naja.js"></script>
<script src="{$basePath}/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => naja.initialize());
</script>